:root {
    font-size: 1;
}



.block {
    background-color: red;
}

.inline {
    background-color: aqua;
}

.new-block {
    background: hotpink;
    display: block;
}

.borders {
    border: 1px solid black;
}

.collapse {
    border-collapse: collapse;
}

.separate {
    border-collapse: separate;
}

.spaced-16 {
    border-spacing: 16px;
}

.spaced-4 {
    border-spacing: 4px;
}

.bottom {
    caption-side: bottom;
}

.p-16 {
    padding: 16px;
}

.p-8 {
    padding: 8px;
}

.bg-green {
    background: palegreen;
}

.bg-red {
    background: salmon;
}

.center {
    text-align: center;
}